@font-face{
    font-family: merryw;
    src: url(/static/Merriweather-Regular.ttf);
}

body{
    font-family: merryw;
}

body nav.navbar.navbar-light {
    background-color: #9ad6db;
}


h1{
    margin-top: 2rem;
}

div article.item {
    margin-bottom:40px;
}


article h5 {
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 700;
}

article p.text-justify{
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 100;
    text-align: left;
}

@media (min-width: 1200px) {
    .container{
        max-width: 799px;
    }
}

@media (min-width: 992px) {
    .container{
      max-width: 799px;
}
}


