*.pyc
__pycache__/
*.json
/static/.DS_Store

# Environment variables
.env

# Flask instance folder
instance/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Elastic Beanstalk Files
.ebignore
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*

# jupyter notebooks
*ipynb*

# Virtual environments/pyenv
.python-version

# Briefing related temporary models
rssbriefing/briefing_model/models/

# Logs
*.log
