*.pyc
__pycache__/
*.json

# Environment variables
.env

# Flask instance folder
instance/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
donkey_env/

# Elastic Beanstalk Files
.ebignore
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/options.config
