*.pyc
__pycache__/
*.json

# Environment variables
.env

# Flask instance folder
instance/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

# Elastic Beanstalk Files
.ebignore
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/https*.config
.ebextensions/options.config

# jupyter notebooks
*ipynb*
