option_settings:
 aws:elasticbeanstalk:application:environment:
   LC_ALL: en_US.utf8
   FLASK_APP: application.py
   FLASK_ENV: production
   APP_SETTINGS: config.ProductionConfig

container_commands:
 01migrate:
     command: "source /opt/python/run/venv/bin/activate && flask db upgrade"
     leader_only: true
