{% extends 'base.html' %}

{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">{% endblock %}

{% block title %}Briefing explanation{% endblock %}

{% block header %}
{% if g.user %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('rss_reader.latest') }}">
        Latest
    </a>
</li>

<li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Edit feeds
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-link" href="{{ url_for('rss_reader.add_feed') }}">
            Add feed
        </a>

        <a class="nav-link" href="{{ url_for('rss_reader.delete_feed') }}">
            Delete feed
        </a>
    </div>

</li>
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <p></p>
            <h1>So, how does this actually work? &#x1F914;</h1>

            <br>

            To be updated soon...

            <br>
            <br>

            <h4>Technologies we use:</h4>
            <dl>
                <dt>gensim</dt>
                <dd>
                    We trained a document similarity model based on gensim's implementation of Doc2Vec and we use
                    gensim's built-in summarization model (TextRank algorithm).
                </dd>

                <dt>Flask</dt>
                <dd>The app is written using the Python micro web framework Flask.</dd>

                <dt>feedparser</dt>
                <dd>We use feedparser to process RSS and Atom feeds.</dd>

                <dt>newspaper3k</dt>
                <dd>The newspaper3k library allows us to parse the actual news articles.</dd>

                <dt>AWS Elastic Beanstalk</dt>
                <dd>For hosting.</dd>
            </dl>


        </div>
    </div>
</div>
{% endblock %}
