{% extends "base.html" %}

{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">{% endblock %}

{% block header %}
{% block title %}Reset Password{% endblock %}
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=64) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>

        </div>
    </div>
</div>

{% endblock %}
