<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <a class="text-muted h6" href="{{ url_for('briefing.index') }}">
                RoboBriefing &#x1f916;
            </a>
            <small class="d-block mb-3 text-muted">Stay up to date.<br>Minimize distractions.</small>
        </div>


        <div class="col-6 col-md">
            {% if not g.user %}
            <h5>Account</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a class="text-muted" href="{{ url_for('auth.register') }}">Register</a></li>
            </ul>
            {% endif %}
        </div>

        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{{ url_for('briefing.how_it_works') }}">How it works</a></li>
                <li><a class="text-muted" href="{{ url_for('briefing.example_briefing') }}">Today's briefing</a></li>
                <li><a class="text-muted" href="mailto:robobriefing@posteo.net">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>
